{% for newsitem in newsitem_list %}
	<li id="newsitem-{{ newsitem.id }}" class="newsitem news-articles">
		<div class="date">
			<span class="month">
				{{ newsitem.item_date|date:"M" }}
			</span>
			<span class="day">
				{{ newsitem.item_date|date:"d" }}
			</span>
		</div>
		<div class="title_place">
			<span class="title">
				<a href="{{ newsitem.item_url}}" class="url">{{ newsitem.title|truncatewords_html:20 }}</a> 
			</span>
			<span class="location">
				{% if location_url %}
				<a href="{{ newsitem.location_url }}">
				{% endif %}
				@{{ newsitem.location_name }}
				{% if location_url %}
				</a>
				{% endif %}
			</span>
		</div>
		<blockquote class="excerpt">
			<p>{{ newsitem.attributes.excerpt }}</p>
		</blockquote>
		<div class="info">
			Published by <strong class="source">{{ newsitem.attributes.source.name }}</strong>
		</div>
	</li>
{% endfor %}
