{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<div id="content">
	<h1>Reset your password</h1>
	<div class="row">
		<div class="six col">
			<form action="" method="POST">
				{% csrf_token %}
				{{ form.e.errors }}
				{{ form.e }}{{ form.h }}
					<div class="row">
						<div class="four col">
							<h2>Password</h2>
						</div>
						<div class="eight col">
							{{ form.password1.errors }}{{ form.password1 }}
						</div>
					</div>
					<div class="row">
						<div class="four col">
							<h2>Password (again)</h2>
						</div>
						<div class="eight col">
							{{ form.password2.errors }}{{ form.password2 }}
						</div>
					</div>
				<div class="row">
					<div class="four col offset-by-eight">
						<button type="submit" style="font-size:20px; width:100%; text-align:center;">Reset your password</button>
					</div>
				</div>
			</form>
		</div>
		<div class="six col"> &nbsp; </div>
	</div>
</div>
{% endblock %}
