{% extends "base.html" %}

{% block title %}Set a password{% endblock %}

{% block content %}
<div id="content">
	<h1>Create an account</h1>
	<h2>Step 2: Set a password</h2>
	<form action="" method="POST">
		{% csrf_token %}
		{{ form.e.errors }}
		{{ form.e }}{{ form.h }}
					<div class="row">
						<div class="four col">
							<h2>Password</h2>
						</div>
						<div class="eight col">
							{{ form.password1.errors }}{{ form.password1 }}
						</div>
					</div>
					<div class="row">
						<div class="four col">
							<h2>Password (again)</h2>
						</div>
						<div class="eight col">
							{{ form.password2.errors }}{{ form.password2 }}
						</div>
					</div>
				<div class="row">
					<div class="eight col offset-by-four">
						<a href="/info/policies.php">By creating an account, you accept our terms and policies.</a>
						<button type="submit" style="font-size:20px; width:100%; text-align:center;">Welcome to LarryvilleKU</button>
					</div>
				</div>
	</form>
</div>
		<div class="six col"> &nbsp; </div>
	</div>
</div>
{% endblock %}
