{% extends "base.html" %}

{% block title %}Create an account{% endblock %}

{% block content %}
<style type="text/css">
input { width: 70% }
</style>

<div id="content">
	<div class="row">
		<div class="six col">
	<h1>Create an account</h1>
	<h2>Step 1: Verify your e-mail address</h2>
	<h3>Enter your e-mail address below to create an account.</h3>
	<form action="" method="POST">
		{% csrf_token %}
		{{ form.email.errors }}
		{{ form.email }}
		<button type="submit">Go</button>
	</form>
	<p>Already have an account? <a href="../login/"><button>Log in here...</button></a></p>
	</div>
	<div class="six col">
		<!-- if you have a features page...	<br />
			<br />
			<br />
			<br />
			<a href="/info/features.php#register"><h1>Why register?</h1> -->
	</div>
</div>
</div>
{% endblock %}
