{% extends "base.html" %}

{% block title %}Request a password reset{% endblock %}


{% block content %}
<div id="content">
	<h1>Request a password reset</h1>
	<h2>Step 1: Enter your e-mail address</h2>
	<p>We'll e-mail you a secret link that lets you reset your password.</p>
<div class="row">
	<div class="six col">
	<form action="{% url accounts-pw-change %}" method="POST">
		{% csrf_token %}
		<div class="row">
			<div class="four col">
				<h2>E-mail address:</h2>
			</div>
			<div class="eight col">
				{{ form.email.errors }}{{ form.email }}
			</div>
		</div>
		<div class="row">
			<div class="four col offset-by-eight">
				<button type="submit" style="font-size:20px; width:100%; text-align:center;">Request Password Reset</button>
			</div>
		</div>
	</form>
	</div>
	<div class="six col"> &nbsp; </div>
</div>
</div>
{% endblock %}
